## Final Project - Part-time Data Science
## Rationing Resources for the Los Angeles Police Department
## Joseph Roeges - 4-10-19

## A. Introduction

### The Los Angeles Police Department has long suffered from extensive underfunding and the region has had a notoriously high crime rate, affecting how the precincts provide service and coverage for the corresponding neighborhoods. To help alleviate the strain that is put on officers, administrators, and the Los Angeles City Council, data scientists can use previously cataloged data to determine the best usage of specialized staff and training procedures, the correct equipment to best protect local residents, and the region that requires the most resources, by the time of day that the crime is occurring.

## B. Project Goal

### The goal of this project is to determine what variables would improve the institution’s ability to predict the time of day that a crime would take place to help redistribute resources throughout the department. The model based on our training data should surpass randomized predictions.

## C. Data Set

### The dataset for this project includes over 1 million rows of crime reports between 2010 and 2017 and the columns will include information about the date of the crime, the time that it occurred, the type of crime, the area that it took place, the description of the crime, the age of the victim, the sex of the victim, the description of the premise, and the weapon used. The database was uploaded as “Crime Data from 2010 to Present,” from Data.gov. 
### My initial hypothesis is that violent crimes and those involving weapons will occur most often between the late evening (9pm) and early morning (3am). We will require a strong correlation between specific variables and the time of day to determine if the model is a good predictor.
### There are also limitations to and assumptions for our analysis. Most crimes are not reported so we cannot determine how this model will affect all victims of a crime. This data also does not consider the individual background of the victim or perpetrator, the unique harbinger that led to the event, or the result of due process of the report through the judicial system. We will only focus on the superficial aspects of the reported cases. Once the database is analyzed, we hope to better understand how, where, what type, and when crimes are occurring in Los Angeles to improve the efficiency of the institution.

## D. Exploratory Data Analysis

In [2]:
import pandas as pd #Reading in data languages to use in this analysis
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight') #Choosing a style for the presentation of data in plots.
%matplotlib inline

# Increasing default figure and font sizes for easier viewing.
plt.rcParams['figure.figsize'] = (7, 5)
plt.rcParams['font.size'] = 14

In [3]:
#Reading information from the .csv file and placing it in 'LA_Crime' to manipulate.
LA_Crime = pd.read_csv('~/Documents/General-Assembly/Crime_Data_from_2010_to_Present.csv')

In [4]:
#Presenting the first five rows of data.
LA_Crime.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,151521112,11/4/2015,11/3/2015,2230,NaN,N Hollywood,1555,330,BURGLARY FROM VEHICLE,344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CAMARILLO ST,NaN,"(34.1577, -118.3727)"
1,151521113,11/4/2015,10/30/2015,200,NaN,N Hollywood,1548,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CHANDLER BL,NaN,"(34.1681, -118.3724)"
2,151521117,11/4/2015,11/4/2015,1400,NaN,N Hollywood,1506,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,421,...,VERBAL THREAT,JA,Juv Arrest,930.0,NaN,NaN,NaN,7300 BAKMAN AV,NaN,"(34.203, -118.3779)"
3,151521121,11/4/2015,4/28/2015,2125,NaN,N Hollywood,1567,121,"RAPE, FORCIBLE",2000 0429 1241 0416 0400 0527 1813 2002,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,121.0,NaN,NaN,NaN,10700 LANDALE ST,NaN,"(34.1513, -118.3642)"
4,151521123,11/5/2015,10/27/2015,600,NaN,N Hollywood,1515,354,THEFT OF IDENTITY,0100 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,11700 LEMAY ST,NaN,"(34.1912, -118.3891)"

In [5]:
#There are 1,048,575 rows of individual cases and 26 columns of case identifiers. 
LA_Crime.shape

(1048575, 26)

In [6]:
#The 26 different case identifiers are listed below.
LA_Crime.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [7]:
# I renamed columns as to be represent the data and make information easier to access.
LA_Crime.rename(columns={'DR Number': 'File_Number', 'Date Reported':'Date_Reported','Date Occurred':'Date_Occured',
                     'Time Occured':'Time_Occured','Area ID':'Area_ID','Area Name':'Area_Name','Reporting District':
                     'R_District','Crime Code':'Crime_Code','Crime Code Description':'Crime_Code_Desc','MO Codes':
                     'MO_Codes','Victim Age':'Victim_Age','Victim Sex':'Victim_Sex','Victim Descent':'Victim_Descent',
                     'Premise Code':'Premise_Code','Premise Description':'Premise_Desc','Weapon Used Code':'Weapon_Code',
                     'Weapon Description':'Weapon_Desc','Status Code':'Status_Code','Status Description':'Status_Desc',
                     'Crime Code 1':'Crime_Code_1','Crime Code 2':'Crime_Code_2','Crime Code 3':'Crime_Code_3','Crime Code 4':
                     'Crime_Code_4','Address':'Address_Com','Cross Street':'Cross_Str_Com','Location ':'Loc_Com'}, 
            inplace=True)

In [8]:
LA_Crime.head() #The changes to the columns can be viewed below.

,File_Number,Date_Reported,Date_Occured,Time Occurred,Area_ID,Area_Name,R_District,Crime_Code,Crime_Code_Desc,MO_Codes,...,Weapon_Desc,Status_Code,Status_Desc,Crime_Code_1,Crime_Code_2,Crime_Code_3,Crime_Code_4,Address_Com,Cross_Str_Com,Loc_Com
0,151521112,11/4/2015,11/3/2015,2230,NaN,N Hollywood,1555,330,BURGLARY FROM VEHICLE,344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CAMARILLO ST,NaN,"(34.1577, -118.3727)"
1,151521113,11/4/2015,10/30/2015,200,NaN,N Hollywood,1548,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CHANDLER BL,NaN,"(34.1681, -118.3724)"
2,151521117,11/4/2015,11/4/2015,1400,NaN,N Hollywood,1506,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,421,...,VERBAL THREAT,JA,Juv Arrest,930.0,NaN,NaN,NaN,7300 BAKMAN AV,NaN,"(34.203, -118.3779)"
3,151521121,11/4/2015,4/28/2015,2125,NaN,N Hollywood,1567,121,"RAPE, FORCIBLE",2000 0429 1241 0416 0400 0527 1813 2002,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,121.0,NaN,NaN,NaN,10700 LANDALE ST,NaN,"(34.1513, -118.3642)"
4,151521123,11/5/2015,10/27/2015,600,NaN,N Hollywood,1515,354,THEFT OF IDENTITY,0100 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,11700 LEMAY ST,NaN,"(34.1912, -118.3891)"

In [9]:
LA_Crime.dtypes #This is showing the types for each description. All of these categories make sense.

File_Number          int64
Date_Reported       object
Date_Occured        object
Time Occurred        int64
Area_ID            float64
Area_Name           object
R_District           int64
Crime_Code           int64
Crime_Code_Desc     object
MO_Codes            object
Victim_Age         float64
Victim_Sex          object
Victim_Descent      object
Premise_Code       float64
Premise_Desc        object
Weapon_Code        float64
Weapon_Desc         object
Status_Code         object
Status_Desc         object
Crime_Code_1       float64
Crime_Code_2       float64
Crime_Code_3       float64
Crime_Code_4       float64
Address_Com         object
Cross_Str_Com       object
Loc_Com             object
dtype: object

In [10]:
LA_Crime.isnull().sum() #We now want to review if we have any missing data. We have several columns (15) with missing data.

File_Number              0
Date_Reported            0
Date_Occured             0
Time Occurred            0
Area_ID             883384
Area_Name                0
R_District               0
Crime_Code               0
Crime_Code_Desc          0
MO_Codes            119756
Victim_Age            1065
Victim_Sex          107051
Victim_Descent      107061
Premise_Code            17
Premise_Desc            79
Weapon_Code         687296
Weapon_Desc         687297
Status_Code              1
Status_Desc              0
Crime_Code_1             6
Crime_Code_2        978250
Crime_Code_3       1046505
Crime_Code_4       1048511
Address_Com              0
Cross_Str_Com       867930
Loc_Com                  0
dtype: int64

In [11]:
LA_Crime['Crime_Code_1'].nunique() #There are 6 missing values for this column, but it should be the same as the Crime Code

145

In [12]:
# We have use the 'Crime_Code' since is meant to mimic the entry for 'Crime_Code_1'.
LA_Crime.fillna(value={'Crime_Code_1': LA_Crime['Crime_Code'] }, inplace=True)
LA_Crime.head(10)

,File_Number,Date_Reported,Date_Occured,Time Occurred,Area_ID,Area_Name,R_District,Crime_Code,Crime_Code_Desc,MO_Codes,...,Weapon_Desc,Status_Code,Status_Desc,Crime_Code_1,Crime_Code_2,Crime_Code_3,Crime_Code_4,Address_Com,Cross_Str_Com,Loc_Com
0,151521112,11/4/2015,11/3/2015,2230,NaN,N Hollywood,1555,330,BURGLARY FROM VEHICLE,344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CAMARILLO ST,NaN,"(34.1577, -118.3727)"
1,151521113,11/4/2015,10/30/2015,200,NaN,N Hollywood,1548,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CHANDLER BL,NaN,"(34.1681, -118.3724)"
2,151521117,11/4/2015,11/4/2015,1400,NaN,N Hollywood,1506,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,421,...,VERBAL THREAT,JA,Juv Arrest,930.0,NaN,NaN,NaN,7300 BAKMAN AV,NaN,"(34.203, -118.3779)"
3,151521121,11/4/2015,4/28/2015,2125,NaN,N Hollywood,1567,121,"RAPE, FORCIBLE",2000 0429 1241 0416 0400 0527 1813 2002,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,121.0,NaN,NaN,NaN,10700 LANDALE ST,NaN,"(34.1513, -118.3642)"
4,151521123,11/5/2015,10/27/2015,600,NaN,N Hollywood,1515,354,THEFT OF IDENTITY,0100 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,11700 LEMAY ST,NaN,"(34.1912, -118.3891)"
5,151521128,11/5/2015,11/4/2015,2200,NaN,N Hollywood,1548,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,5200 CAHUENGA BL,NaN,"(34.1667, -118.3702)"
6,151521130,11/4/2015,11/4/2015,1930,NaN,N Hollywood,1548,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1202,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,5300 LANKERSHIM BL,NaN,"(34.167, -118.3759)"
7,151521131,11/4/2015,10/5/2015,1200,NaN,N Hollywood,1522,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),344,...,NaN,IC,Invest Cont,331.0,NaN,NaN,NaN,13100 WELBY WY,NaN,"(34.193, -118.4181)"
8,151521132,11/4/2015,11/4/2015,730,NaN,N Hollywood,1523,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,6200 BEEMAN AV,NaN,"(34.1831, -118.4073)"
9,151521134,11/4/2015,11/4/2015,2230,NaN,N Hollywood,1548,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0104 0325,...,NaN,AA,Adult Arrest,440.0,NaN,NaN,NaN,5300 VINELAND AV,NaN,"(34.167, -118.3703)"

In [13]:
# We will fill in all null responses with No Weapon in the Weapon Description column.
LA_Crime.fillna(value={'Weapon_Desc': 'No Weapon'}, inplace=True)
LA_Crime.head(10)

,File_Number,Date_Reported,Date_Occured,Time Occurred,Area_ID,Area_Name,R_District,Crime_Code,Crime_Code_Desc,MO_Codes,...,Weapon_Desc,Status_Code,Status_Desc,Crime_Code_1,Crime_Code_2,Crime_Code_3,Crime_Code_4,Address_Com,Cross_Str_Com,Loc_Com
0,151521112,11/4/2015,11/3/2015,2230,NaN,N Hollywood,1555,330,BURGLARY FROM VEHICLE,344,...,No Weapon,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CAMARILLO ST,NaN,"(34.1577, -118.3727)"
1,151521113,11/4/2015,10/30/2015,200,NaN,N Hollywood,1548,330,BURGLARY FROM VEHICLE,0344 1609 1307,...,No Weapon,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CHANDLER BL,NaN,"(34.1681, -118.3724)"
2,151521117,11/4/2015,11/4/2015,1400,NaN,N Hollywood,1506,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,421,...,VERBAL THREAT,JA,Juv Arrest,930.0,NaN,NaN,NaN,7300 BAKMAN AV,NaN,"(34.203, -118.3779)"
3,151521121,11/4/2015,4/28/2015,2125,NaN,N Hollywood,1567,121,"RAPE, FORCIBLE",2000 0429 1241 0416 0400 0527 1813 2002,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,121.0,NaN,NaN,NaN,10700 LANDALE ST,NaN,"(34.1513, -118.3642)"
4,151521123,11/5/2015,10/27/2015,600,NaN,N Hollywood,1515,354,THEFT OF IDENTITY,0100 1822,...,No Weapon,IC,Invest Cont,354.0,NaN,NaN,NaN,11700 LEMAY ST,NaN,"(34.1912, -118.3891)"
5,151521128,11/5/2015,11/4/2015,2200,NaN,N Hollywood,1548,510,VEHICLE - STOLEN,NaN,...,No Weapon,IC,Invest Cont,510.0,NaN,NaN,NaN,5200 CAHUENGA BL,NaN,"(34.1667, -118.3702)"
6,151521130,11/4/2015,11/4/2015,1930,NaN,N Hollywood,1548,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1202,...,No Weapon,IC,Invest Cont,341.0,NaN,NaN,NaN,5300 LANKERSHIM BL,NaN,"(34.167, -118.3759)"
7,151521131,11/4/2015,10/5/2015,1200,NaN,N Hollywood,1522,331,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),344,...,No Weapon,IC,Invest Cont,331.0,NaN,NaN,NaN,13100 WELBY WY,NaN,"(34.193, -118.4181)"
8,151521132,11/4/2015,11/4/2015,730,NaN,N Hollywood,1523,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),329,...,No Weapon,IC,Invest Cont,745.0,NaN,NaN,NaN,6200 BEEMAN AV,NaN,"(34.1831, -118.4073)"
9,151521134,11/4/2015,11/4/2015,2230,NaN,N Hollywood,1548,440,THEFT PLAIN - PETTY ($950 & UNDER),0344 0104 0325,...,No Weapon,AA,Adult Arrest,440.0,NaN,NaN,NaN,5300 VINELAND AV,NaN,"(34.167, -118.3703)"

In [14]:
LA_Crime['Weapon_Code'].value_counts().head() #This reviews the style of

400.0    215558
500.0     30005
511.0     29032
102.0     18029
109.0      6923
Name: Weapon_Code, dtype: int64

In [15]:
LA_Crime.fillna(value={'Weapon_Code': 0 }, inplace=True) #Using a numerical data point that is not already in the data set.

In [16]:
LA_Crime.fillna(value={'Victim_Age':LA_Crime['Victim_Age'].mean()}, inplace=True) #Adding in a mean value.

In [17]:
LA_Crime.fillna(value={'Crime_Code_2':'Empty','Crime_Code_3':'Empty','Crime_Code_4':'Empty'}, inplace=True)
#Replace all null values with an Empty label.

In [18]:
LA_Crime['Premise_Desc'].value_counts().head() #Reviewing the premise description column.

STREET                                          247667
SINGLE FAMILY DWELLING                          204597
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    126208
PARKING LOT                                      77153
SIDEWALK                                         52549
Name: Premise_Desc, dtype: int64

In [19]:
LA_Crime.fillna(value={'Premise_Desc': "STREET" }, inplace=True)
#Replace all null values with the mode of the column, "STREET."

In [20]:
LA_Crime.fillna(value={'Premise_Code': 0,'Cross_Str_Com':'None','MO_Codes':'None','Status_Code':0 }, inplace=True)
#Replace all null values with relavent labels.

In [21]:
LA_Crime2 = LA_Crime # I have created a new file so I can delete rows of missing data from two columns.
LA_Crime2.dropna(subset=['Victim_Sex'],inplace=True)
LA_Crime2.dropna(subset=['Victim_Descent'],inplace=True)
LA_Crime2.drop(columns='Area_ID',inplace=True)
LA_Crime2.isnull().sum()

File_Number        0
Date_Reported      0
Date_Occured       0
Time Occurred      0
Area_Name          0
R_District         0
Crime_Code         0
Crime_Code_Desc    0
MO_Codes           0
Victim_Age         0
Victim_Sex         0
Victim_Descent     0
Premise_Code       0
Premise_Desc       0
Weapon_Code        0
Weapon_Desc        0
Status_Code        0
Status_Desc        0
Crime_Code_1       0
Crime_Code_2       0
Crime_Code_3       0
Crime_Code_4       0
Address_Com        0
Cross_Str_Com      0
Loc_Com            0
dtype: int64

In [22]:
LA_Crime2['Weapon_Desc'].value_counts()

No Weapon                                         580324
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    215523
UNKNOWN WEAPON/OTHER WEAPON                        29996
VERBAL THREAT                                      29021
HAND GUN                                           18018
SEMI-AUTOMATIC PISTOL                               6919
KNIFE WITH BLADE 6INCHES OR LESS                    6904
OTHER KNIFE                                         5139
UNKNOWN FIREARM                                     3969
VEHICLE                                             3752
REVOLVER                                            2966
BOTTLE                                              2616
STICK                                               2495
ROCK/THROWN OBJECT                                  2447
FOLDING KNIFE                                       2383
CLUB/BAT                                            2339
MACE/PEPPER SPRAY                                   2203
BLUNT INSTRUMENT                                    2193
KITCHEN KNIFE                                       1955
KNIFE WITH BLADE OVER 6 INCHES IN LENGTH            1849
SIMULATED GUN                                       1831
AIR PISTOL/REVOLVER/RIFLE/BB GUN                    1586
PIPE/METAL PIPE                                     1376
OTHER CUTTING INSTRUMENT                            1180
BELT FLAILING INSTRUMENT/CHAIN                      1146
PHYSICAL PRESENCE                                    889
SCREWDRIVER                                          829
HAMMER                                               807
UNKNOWN TYPE CUTTING INSTRUMENT                      714
MACHETE                                              639
                                                   ...
RAZOR BLADE                                          120
RAZOR                                                101
ICE PICK                                             101
SWORD                                                 94
ASSAULT WEAPON/UZI/AK47/ETC                           89
HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE         85
EXPLOXIVE DEVICE                                      76
LIQUOR/DRUGS                                          74
SAWED OFF RIFLE/SHOTGUN                               72
AUTOMATIC WEAPON/SUB-MACHINE GUN                      71
DIRK/DAGGER                                           66
STARTER PISTOL/REVOLVER                               56
ROPE/LIGATURE                                         46
CLEAVER                                               46
SEMI-AUTOMATIC RIFLE                                  43
STRAIGHT RAZOR                                        31
DOG/ANIMAL (SIC ANIMAL ON)                            29
BOWIE KNIFE                                           29
BLACKJACK                                             28
SYRINGE                                               20
MARTIAL ARTS WEAPONS                                  16
UZI SEMIAUTOMATIC ASSAULT RIFLE                       10
BOW AND ARROW                                          9
UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE                   8
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    7
RELIC FIREARM                                          6
ANTIQUE FIREARM                                        5
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          4
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       3
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                    2
Name: Weapon_Desc, Length: 79, dtype: int64

In [23]:
LA_Crime2.corr() #Reviewing the correlation between values.

,File_Number,Time Occurred,R_District,Crime_Code,Victim_Age,Premise_Code,Weapon_Code,Crime_Code_1
File_Number,1.000000,-0.007216,0.097905,0.012160,0.009254,-0.010185,-0.023633,0.011781
Time Occurred,-0.007216,1.000000,0.011618,0.010932,-0.023739,-0.074803,0.005401,0.010952
R_District,0.097905,0.011618,1.000000,-0.008636,0.029697,0.013468,-0.029545,-0.008825
Crime_Code,0.012160,0.010932,-0.008636,1.000000,-0.036162,0.118849,0.140345,0.999414
Victim_Age,0.009254,-0.023739,0.029697,-0.036162,1.000000,0.036273,-0.053926,-0.035779
Premise_Code,-0.010185,-0.074803,0.013468,0.118849,0.036273,1.000000,0.014261,0.119048
Weapon_Code,-0.023633,0.005401,-0.029545,0.140345,-0.053926,0.014261,1.000000,0.139494
Crime_Code_1,0.011781,0.010952,-0.008825,0.999414,-0.035779,0.119048,0.139494,1.000000